.box{
    display: flex;
    z-index:500;
    position: fixed ;
    width:100%;
    flex-wrap:wrap;
    justify-content: space-between;
    padding:2px 14px;
    background-color: rgb(201, 212, 213);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.389);
    border-radius: 10px;
    border:none !important;
}
.box1{
    font-size: 2rem;
    padding:1px 0;
    color:blue;
    font-weight: 500;
    font-style: italic;
}
.box2{
    padding-right:1.2rem;
}
.nav-items{
    display: flex;
    list-style: none;
    color:black;
    font-size: 1.5rem;
}
.nav-items li{
    padding: 0 4px;
}
.nav-items li a{
    text-decoration:none;
    color:black
}
