.container{
    background-image: url('https://t4.ftcdn.net/jpg/05/50/34/75/360_F_550347527_a4E35eFyM3s5KhwaUMoGmqgJQf9Ub48q.jpg');
    background-size: cover;
    height: 100vh;
    font-weight: 100wh;
    color:black;
}