<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Add new Blog</title>
  </head>
  <body>
    <%-  include('./partials/nav') %>
    <h1><%= JSON.stringify(locals.user) %></h1>
    <%- include('./partials/script') %>
  </body>
</html>
